<% if signed_in? %>
  <div class="row">
    <aside class="span8">
      <section>
	    <% if @user.goals.any? %>
	      <h3>Goals (<%= @user.goals.count %>)</h3>
	      <ol class="goals">
	        <%= render @goals %>
	      </ol>
	      <%= will_paginate @goals %>
	    <% end %>
      </section>
      <section>
        <%= link_to "New Goal", new_user_goal_path(@user), class: "btn" %>
      </section>
    </aside>
    <div class="span4">
      <h3>Goal Feed</h3>
      this is just a place holder for now, dont forget to fill this out
    </div>
  </div>  
<% else %>
  <div class="center hero-unit">
    <h1>Impossible You</h1>

    <h2>
      Achieve more than you thought possible
    </h2>

    <%= link_to "Become the Impossible You!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %> 