<h1><%= @goal.title %></h1>
<p>
  [<%= @goal.completed ? "Goal completed" : "Goal is incomplete" %>]
</p>
<% unless @goal.img_url.blank? %>
  <%= image_tag(@goal.img_url, alt: @goal.title) %>
<% end %>
<p><%= @goal.description %></p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', user_path(@goal.user) %>
<% if current_user?(@goal.user) %>
  | <%= link_to "delete", goal_path(@goal),
                             method: :delete,
                             data: { confirm: "You sure?" },
                             title: @goal.title %>
<% end %>