<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>

<p>
  <b>Completed:</b>
  <%= @goal.completed %>
</p>

<p>
  <b>Img url:</b>
  <%= @goal.img_url %>
</p>

<%= link_to 'Edit', edit_goal_path(@goal) %> |
<%= link_to 'Back', user_path(@goal.user) %>
<% if current_user?(@goal.user) %>
  | <%= link_to "delete", goal_path(@goal),
                             method: :delete,
                             data: { confirm: "You sure?" },
                             title: @goal.title %>
<% end %>