<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @goal.title %>
</p>

<p>
  <b>Description:</b>
  <%= @goal.description %>
</p>

<p>
  <b>Completed:</b>
  <%= @goal.completed %>
</p>

<p>
  <b>Img url:</b>
  <%= @goal.img_url %>
</p>

<%= link_to 'Edit', edit_user_goal_path(@goal.user, @goal) %> |
<%= link_to 'Back', user_path(@goal.user) %>
